name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true

      - name: Download deps
        run: go mod download

      - name: Go test
        run: go test ./...

      - name: Build binary
        run: go build -o todo-api .

      # На этом шаге мы просто убеждаемся, что Dockerfile собирается.
      # Пушить в реестр и деплоить будем в пункте 4b.
      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: todo-api:ci
